{% from "expertunity-theme-apac-au-nz/macros/links.html" import linkWrapper %}

<footer class="footer">
    <div class="content-wrapper">
        <div class="footer__body">
            <div class="footer__logo">
                <a href="{{ module.logo.url.href }}" class="cover-link"></a>
                <img src="{{ module.logo.image.src }}" alt="{{ module.logo.image.alt }}" />
            </div>
            <div class="footer__columns">
                {% for column in module.columns %}
                    <div class="footer__column">
                        <div class="footer__column-title">
                            <h5>{{ column.title }}</h5>
                        </div>
                        <div class="footer__column-body">
                        {% for menu in column.menus %}
                            <nav>
                                {% simple_menu menu_tree="{{ menu }}" %}
                            </nav>
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="footer__column footer__column--links">
                    <div class="footer__column-ctas">
                        {% for cta in module.ctas %}
                            {% if cta.cta_settings.cta_type == 'cta' %} 
                                {% cta guid="{{cta.cta_settings.cta_field }}" %} 
                            {% else %}
                                {% set href = cta.cta_settings.button_settings.button_url.url.href %}
                                {% if cta.cta_settings.button_settings.button_url.url.type is equalto "EMAIL_ADDRESS" %}
                                    {% set href = "mailto:" + href %}
                                {% elif cta.cta_settings.button_settings.button_url.url.type is equalto "PHONE_NUMBER" %}
                                    {% set href = "tel:" + href %}
                                {% endif %}
                            
                                <a
                                {% if cta.cta_settings.button_settings.button_url.url.type is equalto "CALL_TO_ACTION"  %}
                                    href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
                                {% else %}
                                    href="{{ href|escape_url }}"
                                {% endif %}
                                {% if cta.cta_settings.button_settings.button_url.open_in_new_tab %}
                                    target="_blank"
                                {% endif %}
                                {% if cta.cta_settings.button_settings.button_url.rel %}
                                    rel="{{ cta.cta_settings.button_settings.button_url.rel|escape_attr }}"
                                {% endif %}
                                class="{{ cta.cta_settings.button_settings.button_type }} {{ cta.cta_settings.button_settings.button_colour }}" aria-label="{{ cta.cta_settings.button_settings.button_text }}"
                                >   
                                {{ cta.cta_settings.button_settings.button_text }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="footer__socials">
                    {% for link in module.links %}
                        <div class="footer__social-icon">
                            {% call linkWrapper(link, "cover-link", "some link") %}
                            {% endcall %}
                            {% if (link.icon_type == 'image' or (!link.icon.name and link.image.src)) and link.image.src %}
                                <img src="{{ link.image.src }}" alt="{{ link.image.alt|default('icon') }}" class="footer__social-img" loading="lazy" />
                            {% else %}
                                {% icon
                                    name="{{ link.icon.name }}"
                                    style="{{ link.icon.type }}"
                                    unicode="{{ link.icon.unicode }}"
                                    icon_set="{{ link.icon.icon_set }}"
                                %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__lower">
            <div class="tagline">
                <p>{{ module.lower_footer.tagline }}</p>
            </div>
            <div class="footer__column footer__column--policies">
                <p>&copy; {{ module.lower_footer.copywrite_notice }}</p>
                <nav>
                    {% simple_menu menu_tree="{{ module.lower_footer.menu }}" %}
                </nav>
            </div>

        </div>
    </div>
</footer>